html {
  background: url(/src/dj-back.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
header {
  background-color: transparent;
}

#journalDate {
}
h1 {
  color: gold;
}

fieldset {
  background-color: rgba(255, 0, 0, 0.301);
  border-color: solid 0.4em white;
  color: gold;
}

button {
  background-color: gold;
  color: red;
}

.jEntry {
  background-color: rgba(255, 0, 0, 0.301);
  color: gold;
}
